<html>
<head>
<script>

history.pushState(null, null, location.href);
    window.onpopstate = function () {
        history.go(1);
    };
 
</script>
    <style>
*{
    font-family:cursive; 
}
        div#mydiv{
            background-color:azure;
            margin: auto;
            border-radius: 10px;
            padding: 5px;
        }
    </style>
</head>
<body>
<div id="mydiv"><center>
<h1 style="color:dodgerblue">Thank You For Attempting the Test</h1>
<h2>For any Queries, Contact: </h2>
<h3>Meghana: 9398423500 </h3>
<h3>Tanuj: 8464996832</h3>
<h3>Chandrakanth: 9848391975</h3>
<h3>Srinivas Pavan: 9121868079</h3>
    </center></div>
</body>
</html>